<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button
        icon="arrow-back-outline"
        defaultHref="/home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> {{artist.name}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col *ngFor="let currentMedia of media" size="auto">
        <div class="media-block">
          <ion-card>
            <img
              (click)="coverClicked(currentMedia)"
              draggable="false"
              style="-moz-user-select: none"
              ondragstart="return false;"
              src="{{covers[currentMedia.title]}}"
            />
            <ion-card-header (click)="mediaNameClicked(currentMedia)">
              <ion-card-title class="ion-text-nowrap truncate-text"
                >{{currentMedia.title}}</ion-card-title
              >
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
